<h1>index</h1>


<div class= "card-flex">
  <% @trees.each do |tree|%>
        <%= link_to tree_path(tree), style: 'text-decoration: none; color: black;' do %>
        <div class="card-trip">
          <%= cl_image_tag tree.photos.first.key, height: 400, width: 400, crop: :fill %>
            <div class="card-trip-infos">
              <h2> <%= tree.name  %> </h2>
              <p> <%= tree.description %></p>
              <h2 class="card-trip-pricing"> <%= tree.price_per_year %> €</h2>
            </div>
        </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New tree", new_tree_path %>
